.stamp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  filter: drop-shadow(-4px 4px 7px rgba(0, 0, 0, 0.25));

  .stamp-body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-style: italic;
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 14px;
    color: var(--moss-green);
    text-align: center;

    .icon {
      --icon-offset: 0.8rem;

      position: absolute;
      top: 0;
      left: 0;
      margin-top: var(--icon-offset);
      margin-left: var(--icon-offset);
    }

    .stars_container {
      position: absolute;
      right: 0.5rem;
      top: 0.8rem;

      img {
        display: block;

        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }
}
