@use "@/app/breakpoints.scss" as bp;

.stage-information {
  .banner {
    --banner-height: 350px;

    padding: 0 13%;

    display: flex;
    align-items: center;
    width: 100%;
    height: var(--banner-height);

    background-size: cover;
    background-position-y: 30%;
    box-shadow: inset 0 0 0 1000px rgba($color: #514b35, $alpha: 0.5);

    font-size: 3.5rem;
    font-family: Swagume;
    text-align: center;
    text-shadow: 1px 2px 2px #000000;
    color: #fff;

    @include bp.xs {
      background-position-y: -5rem;
    }

    @include bp.tablet {
      --banner-height: 500px;

      justify-content: center;

      background-position-y: -20rem;

      font-size: 5rem;
    }
  }

  .information-container {
    font-family: "Playfair Display";
    padding: 2rem;
    text-align: center;

    @include bp.tablet {
      padding: 2rem 10rem;
    }

    .information {
      position: relative;
      border: 1px solid var(--beige);
      border-radius: 5px;
      padding-top: 1rem;
      padding-bottom: 2rem;

      .hour {
        display: block;
        margin-bottom: 0.5rem;
        color: var(--brown);
        font-weight: bold;
      }

      .address {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        color: var(--moss-green);
      }

      .maps-btns {
        display: grid;
        position: absolute;
        bottom: 0;

        width: 100%;
        padding: 0 1.5rem;
        transform: translateY(50%);

        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
      }
    }
  }
}
