@use "@/app/breakpoints.scss" as bp;

.counter {
  --mt: 2.3rem;
  --text-post-countdown-font-size: 14px;

  margin-top: var(--mt);

  .countdown {
    --countdown-number-font-size: 2.1rem;
    --countdown-label-font-size: 1.1rem;
    --countdown-gap: 1.75rem;

    position: relative;
    background-color: var(--moss-green);
    color: #fff;
    display: flex;
    justify-content: center;
    gap: var(--countdown-gap);

    .item {
      width: fit-content;
      font-family: "Playfair Display";
      display: flex;
      flex-direction: column;
      align-items: center;

      .number {
        font-size: var(--countdown-number-font-size);
      }

      .label {
        font-size: var(--countdown-label-font-size);
        color: #fff;
        font-weight: normal;
        margin-top: -0.4rem;
      }
    }

    @include bp.tablet {
      --countdown-number-font-size: 3.2rem;
      --countdown-label-font-size: 1.7rem;
      --countdown-gap: 2.5rem;
    }
  }

  @include bp.tablet {
    --mt: 3.2rem;
  }
}
