@use "@/app/breakpoints.scss" as bp;

.striped-background {
  --lines-gap: 10px;

  position: relative;
  z-index: 1;

  .line {
    border: 1px solid color-mix(in srgb, #7a8b96, transparent 50%);

    &:not(:nth-last-child(2)) {
      margin-bottom: var(--lines-gap);
    }
  }

  .content {
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  @include bp.tablet {
    --lines-gap: 13px;
  }
}
