.wrapper {
  height: 200px;
  width: 300px;
  background-color: var(--moss-green);
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
  cursor: pointer;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  .lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;

    -webkit-transition: transform 0.25s linear;
    -moz-transition: transform 0.25s linear;
    -ms-transition: transform 0.25s linear;
    -o-transition: transform 0.25s linear;
    transition: transform 0.25s linear;

    /* Lid when closed */
    &.one {
      border-top: 100px solid var(--moss-green);
      transform: rotateX(0deg);
      z-index: 3;
      transition-delay: 0.75s;
    }

    /* Lid when opened */
    &.two {
      border-top: 100px solid var(--moss-green);
      transform: rotateX(90deg);
      z-index: 1;
      transition-delay: 0.5s;
    }
  }

  .envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid #d9dacb;
    border-bottom: 100px solid #d9dacb;
    border-left: 150px solid #b0b196;
    z-index: 3;
  }

  .letter {
    position: absolute;
    top: 0;
    width: 80%;
    height: 80%;
    z-index: 2;
    transition: 0.5s;
    padding: 1rem 1.5rem;

    font-family: swagume;
    font-size: 1.5rem;
    text-align: center;

    background-color: white;
    border-radius: 15px;

    p {
      text-align: center;
      font-size: 30px;
      margin-top: 30px;
      color: #3b4049;
    }
  }

  &.hovered {
    .lid.one {
      transform: rotateX(90deg);
      transition-delay: 0s;
    }

    .lid.two {
      transform: rotateX(180deg);
      transition-delay: 0.25s;
    }

    .letter {
      transform: translateY(-50px);
      transition-delay: 0.5s;
    }
  }

  &.clicked {
    opacity: 0;
  }

  .instruction {
    position: absolute;
    bottom: 0;
    z-index: 10;
    transform: translateY(150%);
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #b0b196;
    opacity: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;

    &.show {
      opacity: 1;
    }
  }
}
